body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 50px auto;
    margin-top:130px;
    background-color:#f4433648;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#app {
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4caf50;
    color:wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

.delete-btn {
    background-color:aqua;
}
footer{
    background-color:#333;
    padding :20px 0;
    margin-top: 200px;
    color:white;
    text-align:center
}